@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('http://fonts.cdnfonts.com/css/helvetica-neue-9');

* {
    
    margin: 0;
    padding: 0;
    
} 
body{
    overflow-x: hidden;
   
    background-color: #f0f0f3;
}
h1{
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 30px;
    color: #313440;
    position: relative;
    top: 50px;
    left: 150px;    

}


/* Header */
h2 {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 24px;
    color: #313440;
    cursor: pointer;
    position: relative;
    left: 150px;
}



li,a,button {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #4F5361;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-around;
    /* Pushes left and right items to the edges and creates space in the center. */
    align-items: center;
    padding: 30px 10%;
    background-color: #FFCDCD;
}
.logo{
    position: relative;
    left: 0px;
}


.nav__links li {
    display: inline-block;
    padding: 0px 20px;
    position: relative;
    left: 250px;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
    
}

.searchbox{
    position: relative;
    left: 230px;
    border-radius: 20px;
    padding-top: 10px;
    padding-left: 15px;
    border: 2px solid black;
    height: 25px;
}

.searchbox::placeholder{
    position: relative;
    font-family: 'Poppins';
    top: -2.5px;
    padding-left: 0px;
    text-align: left;
    
}

.search_img{
    position: relative;
    left: 80px;
}


/* Landing Page */
.landimg{
    width: 100%;
    position: relative;
   
    height: 100%;
    opacity: 0.4;
}
.img1{
    position: relative;
    left: 920px;
    top: -10px;
    width: 50px;
}
.sec1 h1{
    position: relative;
    left: 600px;
    top: 40px;
}

#back-img{
    height: 650px;
    width: 100%;
}
#back-img img{
    height: 100%;
    width: 100%;
}
    
 .form{
    position: absolute;
    top: 50%;
    left: 35%;
 }  

.form p{
    display: block;
}
.form input{
    border-radius: 50px;
    border: none;
    
}
.form h2{
    position: relative;
    top: -120px;
    left: 140px;
    font-size: 30px;
}
.lname{
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: #000336;
    position: relative;
    left: -40px;
    top: -80px;
    
}
#name{
    position: relative;
    left: 180px;
    top: -80px;
    width: 270px;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    padding: 5px;
    border-radius: 50px;
    border: none;
}
.ldesc{
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: #000336;
    position: relative;
    left: -40px;
    top: -70px;
    
}
#desc{
    position: relative;
    left: 125px;
    top: -40px;
    width: 250px;
    border: none;
     padding: 15px;
     font-family: "Poppins", sans-serif;
    font-weight: bold;
    border-radius: 20px;
}
.lurl{
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: #000336;
    position: relative;
    left: -40px;
    top: -20px;
    
}
#url{
    position: relative;
    left: 170px;
    top: -15px;
    border: none;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    color: #000336;
    
    
    width: 300px;
}

.lstartbid{
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: #000336;
    position: relative;
    left: -40px;
    top: 20px;
    
}
#startbid{
    position: relative;
    left: 172px;
    top: 20px;
    border: none;
    padding: 5px;
    width: 270px;

    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 18px;
    border-radius: 20px;
}
   


.lcate{
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: #000336;
    position: relative;
    left: -40px;
    top: 70px;
}
.cate{
    margin-left: 20px;
    margin-top: 0px;
    
    font-weight: 530;
    position: relative;
    left: 210px;
    top: 70px;
    font-family: 'Poppins';
    font-style: normal;
    font-size: 13px;
      
   
    border-radius: 20px;
    padding: 3.5px;
}

.submit{
    position: relative;
    left: 160px;
    top: 140px;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
    background-color: #000336;
    color:white;
    width: 130px;
    border-radius: 50px;
    cursor: pointer;
}

/* Footer */

.footer_outerdiv {
    position: relative;
    top: 0px;
    width: 100%;
    height: 32vh;
    
    background-color: #FFCDCD;
}

.footer_product {
    position: relative;
    top: 50px;
    left: 250px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #1C1C1D;
}

.product_listing {
    position: relative;
    top: 75px;
    font-size: 16px;
    left: 250px;
}

.product_agents {
    position: relative;
    top: 115px;
    font-size: 16px;
    left: 193px;
}

.product_blog {
    position: relative;
    top: 160px;
    font-size: 16px;
    left: 133px;
}

.footer_company {
    position: relative;
    top: 0px;
    left: 550px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
}

.company_partnerships {
    position: relative;
    top: 26px;
    font-size: 16px;
    left: 550px;
}

.company_terms {
    position: relative;
    top: 65px;
    font-size: 16px;
    left: 444px;
}

.company_privacy {
    position: relative;
    top: 110px;
    font-size: 16px;
    left: 336px;
}

.footer_touch {
    position: relative;
    top: -46px;
    left: 820px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;

}

.touch_connect {
    position: relative;
    top: -20px;
    font-size: 18px;
    left: 820px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #4F5361;
    text-decoration: none;
}

.touch_fb {
    position: relative;
    left: 820px;
}

.touch_tw {
    position: relative;
    left: 830px;
}

.touch_in {
    position: relative;
    left: 840px;
}

.footer_contact {
    position: relative;
    top: -130px;
    left: 1120px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
}

.contact_phone {
    position: relative;
    top: -95px;
    left: 1120px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #4F5361;
    text-decoration: none;
}

.contact_mail {
    position: relative;
    top: -80px;
    left: 1125px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #4F5361;
    text-decoration: none;
}

.mail_icon {
    position: relative;
    top: -101px;
    left: 1190px;

}

.contact_mailid {
    position: relative;
    top: -80px;
    left: 1105px;
}

.contact_address {
    position: relative;
    top: -50px;
    left: 1128px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #4F5361;
    text-decoration: none;
}

/* Hover effects */


.submit:hover{
    background-color: #0689FF;
    box-shadow: 0px 0px 6px 2px lightgray;
    border: none;
}

/* Social Icons */
.wrapper a {
    color: #4F5361;
    position: relative;
    top: -15px;
    left: 820px;
  }
  
  .hover-fx {
    font-size: 1rem;
    display: inline-block;
    cursor: pointer;
    margin: 4px;
    width: 30px;
    height: 30px;
    line-height: 31px;
    border-radius: 50%;
    text-align: center;
    position: relative;
    color: #4F5361;
    background-color: rgba(255, 255, 255, 0.1);
    transition: 300ms;
  }
  
  .hover-fx:after {
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    content: '';
    box-sizing: content-box;
    box-shadow: 0 0 0 3px #FFFFFF;
    top: 0;
    left: 0;
    opacity: 0;
    transition: 300ms;
  }
  
  .hover-fx:hover {
    background-color: #FFFFFF;
    color: #151515;
  }
  
  .hover-fx:hover:after {
    opacity: 1;
    transform: scale(1.15);
  }




#name:hover{
    border:solid #000336 ;
}
#desc:hover{
    border:solid #000336 ;
}
#startbid:hover{
    border:solid #000336 ;
}
.cate:hover{
    border:solid #000336 ;
} 
/* Nav links */
.nav__links li a:hover {
    color: rgb(46, 36, 134);
    text-decoration: underline;
    font-weight: 800;
    
}
.footer_outerdiv a:hover{
    text-decoration: underline;
    color: rgb(46, 36, 134);
}
.searchbox:hover{
    border: 3px solid rgb(46, 36, 134);
}






 