@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Header */

body {
    overflow-x: hidden;
}

h2 {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 24px;
    color: #313440;
    cursor: pointer;
}

li,
a,
button {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #4F5361;
    text-decoration: none;
}

button {
    padding: 9px 25px;
    width: 170px;
    height: 50px;
    margin-top: 35px;
    background-color: #0F1B4C;
    color: #FFFFFF;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover{
    background-color: #0689FF;
    box-shadow: 0px 0px 6px 2px lightgray;
}

header {
    display: flex;
    justify-content: space-around;
    /* Pushes left and right items to the edges and creates space in the center. */
    align-items: center;
    padding: 30px 10%;
    background-color: #FFCDCD;
}

.nav__links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav__links li a {
    transition: all 0.4s ease 0s;
}

.nav__links li a:hover {
    color: rgb(46, 36, 134);
    text-decoration: underline;
    font-weight: 800;   
}

.searchbox{
    position: relative;
    left: 66px;
    height: 30px;  
    border-radius: 20px;
    padding-top: 6px;
    padding-left: 15px;
    border: 2px solid black;
}

.searchbox::placeholder{
    position: relative;
    font-family: 'Poppins';
    top: -2.5px;
    padding-left: 0px;
    text-align: left;
    
}

.search_img{
    position: relative;
    left: -170px;
}

/* Watchlist Heading */

.watchlist_outerdiv {
    width: 100%;
    height: 25vh;
    /* border: 4px solid black; */
}

h1 {
    position: relative;
    top: 60px;
    left: 450px;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 64px;
    line-height: 76px;
    color: #000336;
}

.watchlist_icon {
    position: relative;
    top: -20px;
    left: 780px;
}

.watchlist_desc {
    position: relative;
    top: -10px;
    left: 460px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #5A6473;
}

.watchlist_menudiv {
    display: inline-flex;
    position: relative;
    width: 100%;
    height: 10vh;
    /* border: 4px solid black; */
    background-color: #FDCDCD;
}

.menu_itemname {
    position: relative;
    top: 22px;
    left: 450px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: #121212;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.menu_startingbid {
    position: relative;
    top: 22px;
    left: 605px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: #121212;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.menu_desc {
    position: relative;
    top: 22px;
    left: 800px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: #121212;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.menu_action {
    position: relative;
    top: 22px;
    left: 1005px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: #121212;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.watchlist_tablediv {
    position: relative;
    overflow-y:scroll;
    left: 350px;
    width: 65%;
    height: 100vh;
    /* border: 4px solid black; */
}

/* Item 1 */

.watchlist_item1 {
    display: inline-flex;
    position: relative;
    left: 0px;
    top: 50px;
    width: 100%;
    height: 25vh;
    /* border: 2px solid black; */
}

.watchlist_itemname_item1 {
    position: relative;
    top: 155px;
    left: -150px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    color: #0689FF;
}

.watchlist_startbid_item1 {
    position: relative;
    top: 60px;
    left: -35px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #349D23;
}

.watchlist_desc_item1 {
    position: relative;
    top: 50px;
    left: 40px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #000000;
}

.watchlist_item1_img{
    position: relative;
    top: 10px;
    left: 65px;
    width: 200px;
    height: 128px;
}

.watchlist_item1_remove{
    position: relative;
    top: 24px;
    left: 80px;
}

/*  Table Item 2  */

.watchlist_item2 {
    display: inline-flex;
    position: relative;
    left: -20px;
    top: 50px;
    width: 100%;
    height: 25vh;
    /* border: 2px solid black; */
}

.watchlist_itemname_item2 {
    position: relative;
    top: 155px;
    left: -145px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    color: #0689FF;
}

.watchlist_startbid_item2 {
    position: relative;
    top: 60px;
    left: -32px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #349D23;
}

.watchlist_desc_item2 {
    position: relative;
    top: 62px;
    left: 40px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #000000;
}

.watchlist_item2_img{
    position: relative;
    top: 10px;
    left: 80px;
    width: 200px;
    height: 128px;
}

.watchlist_item2_remove{
    position: relative;
    top: 35px;
    left: 120px;
}
/*  Table Item 3  */

.watchlist_item3 {
    display: inline-flex;
    position: relative;
    left: -20px;
    top: 50px;
    width: 100%;
    height: 25vh;
    /* border: 2px solid black; */
}

.watchlist_itemname_item3 {
    position: relative;
    top: 155px;
    left: -135px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    color: #0689FF;
}

.watchlist_startbid_item3 {
    position: relative;
    top: 60px;
    left: 5px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #349D23;
}

.watchlist_desc_item3 {
    position: relative;
    top: 62px;
    left: 60px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #000000;
}

.watchlist_item3_img{
    position: relative;
    top: 10px;
    left: 80px;
    width: 200px;
    height: 128px;
}

.watchlist_item3_remove{
    position: relative;
    top: 35px;
    left: 120px;
}
/*  Table Item 4  */

.watchlist_item4 {
    display: inline-flex;
    position: relative;
    /* left: -0px; */
    top: 50px;
    width: 100%;
    height: 25vh;
    /* border: 2px solid black; */
}

.watchlist_itemname_item4 {
    position: relative;
    top: 155px;
    left: -100px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    color: #0689FF;
}

.watchlist_startbid_item4 {
    position: relative;
    top: 60px;
    left: 40px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    /* line-height: 30px; */
    color: #349D23;
}

.watchlist_desc_item4 {
    position: relative;
    top: 62px;
    left: 140px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #000000;
}

.watchlist_item4_img{
    position: relative;
    top: 10px;
    left: 80px;
    width: 200px;
    height: 128px;
}

.watchlist_item4_remove{
    position: relative;
    top: 35px;
    left: 232px;
}

/*  Table Item 5  */

.watchlist_item5 {
    display: inline-flex;
    position: relative;
    left: -20px;
    top: 50px;
    width: 100%;
    height: 25vh;
    /* border: 2px solid black; */
}

.watchlist_itemname_item5 {
    position: relative;
    top: 155px;
    left: -185px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    color: #0689FF;
}

.watchlist_startbid_item5 {
    position: relative;
    top: 60px;
    left: -125px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    color: #349D23;
}

.watchlist_desc_item5 {
    position: relative;
    top: 62px;
    left: -60px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #000000;
}

.watchlist_item5_img{
    position: relative;
    top: 10px;
    left: 80px;
    width: 200px;
    height: 128px;
}

.watchlist_item5_remove{
    position: relative;
    top: 35px;
    left: -14px;
}
/*  Table Item 6 */

.watchlist_item6 {
    display: inline-flex;
    position: relative;
    left: -20px;
    top: 50px;
    width: 100%;
    height: 25vh;
    /* border: 2px solid black; */
}

.watchlist_itemname_item6 {
    position: relative;
    top: 155px;
    left: -135px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    color: #0689FF;
}

.watchlist_startbid_item6 {
    position: relative;
    top: 60px;
    left: -10px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #349D23;
}

.watchlist_desc_item6 {
    position: relative;
    top: 62px;
    left: 40px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #000000;
}

.watchlist_item6_img{
    position: relative;
    top: 10px;
    left: 80px;
    width: 200px;
    height: 128px;
}

.watchlist_item6_remove{
    position: relative;
    top: 35px;
    left: 90px;
}

.armagnac{
    width: 2000px;
}

/* Footer */

.footer_outerdiv {
    width: 100%;
    height: 35vh;
    /* border: 4px solid black; */
    background-color: #FFCDCD;
}

.footer_product {
    position: relative;
    top: 50px;
    left: 450px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #1C1C1D;
}

.product_listing {
    position: relative;
    top: 75px;
    font-size: 16px;
    left: 450px;
}

.product_agents {
    position: relative;
    top: 115px;
    font-size: 16px;
    left: 393px;
}

.product_blog {
    position: relative;
    top: 160px;
    font-size: 16px;
    left: 333px;
}

.footer_company {
    position: relative;
    top: 0px;
    left: 750px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
}

.company_partnerships {
    position: relative;
    top: 26px;
    font-size: 16px;
    left: 750px;
}

.company_terms {
    position: relative;
    top: 65px;
    font-size: 16px;
    left: 644px;
}

.company_privacy {
    position: relative;
    top: 110px;
    font-size: 16px;
    left: 536px;
}

.footer_touch {
    position: relative;
    top: -46px;
    left: 1020px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;

}

.touch_connect {
    position: relative;
    top: -20px;
    font-size: 18px;
    left: 1020px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #4F5361;
    text-decoration: none;
}

.touch_fb {
    position: relative;
    left: 1020px;
}

.touch_tw {
    position: relative;
    left: 1030px;
}

.touch_in {
    position: relative;
    left: 1040px;
}

.footer_contact {
    position: relative;
    top: -120px;
    left: 1370px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
}

.contact_phone {
    position: relative;
    top: -95px;
    left: 1370px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #4F5361;
    text-decoration: none;
}

.contact_mail {
    position: relative;
    top: -80px;
    left: 1375px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #4F5361;
    text-decoration: none;
}

.mail_icon {
    position: relative;
    top: -101px;
    left: 1440px;

}

.contact_mailid {
    position: relative;
    top: -80px;
    left: 1355px;
}

.contact_address {
    position: relative;
    top: -50px;
    left: 1380px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #4F5361;
    text-decoration: none;
}

/* Icons Hover Effect */

.wrapper a {
    color: #4F5361;
    position: relative;
    top: -15px;
    left: 1010px;
  }
  
  .hover-fx {
    font-size: 1rem;
    display: inline-block;
    cursor: pointer;
    margin: 4px;
    width: 30px;
    height: 30px;
    line-height: 31px;
    border-radius: 50%;
    text-align: center;
    position: relative;
    color: #4F5361;
    background-color: rgba(255, 255, 255, 0.1);
    transition: 300ms;
  }
  
  .hover-fx:after {
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    content: '';
    box-sizing: content-box;
    box-shadow: 0 0 0 3px #FFFFFF;
    top: 0;
    left: 0;
    opacity: 0;
    transition: 300ms;
  }
  
  .hover-fx:hover {
    background-color: #FFFFFF;
    color: #151515;
  }
  
  .hover-fx:hover:after {
    opacity: 1;
    transform: scale(1.15);
  }

.footer_outerdiv a {
    transition: all 0.4s ease 0s;
}

  .footer_outerdiv a:hover {
    color: rgb(46, 36, 134);
    text-decoration: underline;
    font-weight: 800;   
}