<footer id="footer" class="footer">
        <div class="footer_outerdiv">
            <p class="footer_product">Product</p>
            <a class="product_listing" href="#">Listing</a>
            <a class="product_agents" href="#">Agents</a>
            <a class="product_blog" href="#">Blog</a>

            <p class="footer_company">Company</p>
            <a class="company_partnerships" href="#">Partnerships</a>
            <a class="company_terms" href="#">Terms Of Use</a>
            <a class="company_privacy" href="#">Privacy</a>

            <p class="footer_touch">Get in touch</p>
            <p class="touch_connect">Connect with us.</p>

            <!-- Icons Hover effect -->
            <div class="wrapper">
                <a class="hover-fx" href="https://www.linkedin.com/feed/" target="_blank"><i class="fab fa-linkedin"></i></a>
                <a class="hover-fx"><i class="fab fa-facebook"></i></a>
                <a class="hover-fx"><i class="fab fa-twitter"></i></a>
            </div>

            <!-- <a href="#"><img class="touch_fb" src="imgs/Facebook iconfb logo.png"></a>
            <a href="#"><img class="touch_tw" src="imgs/twitter icontwitter.png"></a>
            <a href="#"><img class="touch_in" src="imgs/lindedin iconlinkedin.png"></a> -->
            
            <p class="footer_contact">Contact Us</p>
            <p class="contact_phone">+91-5592669856</p>
            <p class="contact_mail">Mail Us</p>
            <img class="mail_icon" src="imgs/emailMail.png">
            <a class="contact_mailid">bidder@bmu.edu.in</a>
            <p class="contact_address">67th Milestone, NH 48,<br>Kapriwas, Haryana<br>122413</p>
        </div>
    </footer>