<header>
        <h2 class="logo">Bidder.</h2>
        <nav>
            <ul class="nav__links">
                <li><a href="/">Home</a></li>
                <li><a href="/watchlist" target="_blank">Watchlist</a></li>
                <li><a href="/listings" target="_blank">Listings</a></li>
                <li><a href="#footer">Contact</a></li>
                <li><a href="/list" target="_blank">List</a></li>
            </ul>
        </nav>
        <textarea class="searchbox" placeholder="Search"></textarea>
        <img class="search_img" src="imgs/Search.png">
    </header>