@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    overflow-x: hidden;
}

h1 {
    position: relative;
    top: 25px;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 64px;
    line-height: 76px;
    color: #000336;
}

h2 {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 24px;
    color: #313440;
    cursor: pointer;
}

li,
a,
button {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #4F5361;
    text-decoration: none;
}

button {
    padding: 9px 25px;
    width: 170px;
    height: 50px;
    margin-top: 35px;
    background-color: #0F1B4C;
    color: #FFFFFF;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover{
    background-color: #0689FF;
    box-shadow: 0px 0px 6px 2px lightgray;
}

header {
    display: flex;
    justify-content: space-around;
    /* Pushes left and right items to the edges and creates space in the center. */
    align-items: center;
    padding: 30px 10%;
    background-color: #FFCDCD;
}

.nav__links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav__links li a {
    transition: all 0.4s ease 0s;
}

.nav__links li a:hover {
    color: rgb(46, 36, 134);
    text-decoration: underline;
    font-weight: 800;   
}

.searchbox{
    position: relative;
    left: 60px;
    height: 35px;  
    border-radius: 20px;
    padding-top: 8px;
    padding-left: 15px;
    border: 2.5px solid black;
}

.searchbox::placeholder{
    position: relative;
    font-family: 'Poppins';
    top: -2.5px;
    padding-left: 0px;
    text-align: left;
    
}

.search_img{
    position: relative;
    left: -180px;
}

button {
    padding: 9px 25px;
    width: 170px;
    height: 50px;
    margin-top: 35px;
    background-color: #0F1B4C;
    color: #FFFFFF;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.outer__div {
    display: flex;
    width: 100%;
    height: 70vh;
    /* border: 5px solid black; */
}

.inner__div1 {
    display: block;
    margin-top: 50px;
    margin-left: 21rem;
    width: 70%;
    height: 60vh;
    /* border: 2px solid black; */
}

.welcome__desc {
    position: relative;
    top: 18px;
    font-family: "Poppins", sans-serif;
    font-weight: medium;
    font-size: 18px;
    color: #687690;
}

.list__items {
    position: relative;
    margin-top: 55px;
    font-family: "Poppins", sans-serif;
    font-weight: regular;
    font-size: 18px;
    line-height: 32px;
    color: #687690;
}

.homeBid {
    margin-left: 750px;
    margin-top: -450px;
    width: 659px;
    height: 575px;
}

/* How It Works */

.works_outer__div {
    display: flex;
    width: 100%;
    height: 70vh;
    /* border: 5px solid black; */
    margin-top: 0px;
    background-color: #FFCDCD;
}

.h3line {
    position: relative;
    top: 80px;
    left: 965px;
    width: 41px;
    height: 4px;
    background-color: black;
    border-radius: 12px;
}

.howHeading {
    position: relative;
    top: 93px;
    left: 820px;
    text-align: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    /* line-height: 35px;    */
}

.how__desc {
    position: relative;
    top: 149px;
    left: 485px;
    text-align: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #5A6473;
}

.works__items {
    position: relative;
    left: -150px;
    top: 278.04px;
    width: 800px;
    height: 220px;
    /* border: 2px solid black; */
}

.works__loginImg {
    position: relative;
    width: 48px;
    height: 48px;
    top: 50px;
    left: 100px;
}

.works__signup {
    position: relative;
    top: 69px;
    left: 90px;
    width: 72px;
    height: 35px;
    color: #3B3C45;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 22px;
}

.works__login {
    position: relative;
    top: 30px;
    left: 80px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #0689FF;
}

.works__listImg {
    position: relative;
    width: 48px;
    height: 48px;
    top: -40px;
    left: 270px;
}

.works__listItems {
    display: inline;
    position: relative;
    top: 5px;
    left: 170px;
    width: 72px;
    color: #3B3C45;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 21px;
}

.works__howtolist {
    position: relative;
    top: 30px;
    left: 80px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #0689FF;
}

.works__auctionImg {
    position: relative;
    width: 48px;
    height: 48px;
    top: -35px;
    left: 255px;
}

.works__auctionItems {
    display: inline;
    position: relative;
    top: 5px;
    left: 125px;
    width: 72px;
    color: #3B3C45;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 21px;
}

.works__auction {
    position: relative;
    top: 30px;
    left: 0px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #0689FF;
}

.works__arr1 {
    position: relative;
    left: 130px;
    top: 116px;
}

.works__arr2 {
    position: relative;
    left: 290px;
    top: 30px;
}

.works__arr3 {
    position: relative;
    left: 280px;
    top: 30px;
}

/* Listings */

.listings__outerdiv {
    width: 100%;
    height: 90vh;
    /* border: 5px solid black; */
}

h4 {
    position: relative;
    top: 110px;
    left: 350px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    color: #000339;

}

/* Listings */

.item1:hover{
    transform: scale(1.05);
    box-shadow: 0px 0px 6px 2px lightgray;
    
}
.item1{
    transition: all linear 0.3s;
}

.item2:hover{
    transform: scale(1.05);
    box-shadow: 0px 0px 6px 2px lightgray;
    
}
.item2{
    transition: all linear 0.3s;
}
.item3:hover{
    transform: scale(1.05);
    box-shadow: 0px 0px 6px 2px lightgray;
    
}
.item3{
    transition: all linear 0.3s;
}

.listings__checkout {
    position: relative;
    top: 120px;
    left: 350px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #5A6473;
}

.listings__viewall {
    position: relative;
    top: 48px;
    left: 1380px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    text-align: right;
    color: #0689FF;
}

.listings__arr1 {
    position: relative;
    left: 1390px;
    top: 46px;
    border-radius: 0px;
}

.listings_item1 {
    position: relative;
    top: 170px;
    left: 350px;
    width: 355px;
    height: 357px;
    /* border: 2px solid black; */
    border-radius: 12px 12px 0px 0px;
}

.item1_text {
    position: relative;
    top: 15px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 599;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    color: #000339;
}

.item1_startbid {
    display: inline;
    position: relative;
    top: 28px;
    left: 20px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #A3A6AB;
}

.item1_currbid {
    display: inline;
    position: relative;
    top: 28px;
    left: 40px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #A3A6AB;
}

.item1_clock {
    position: relative;
    width: 28px;
    height: 28px;
    top: 65px;
    left: -270px;
}

.item1_status {
    position: relative;
    top: 35px;
    left: 55px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.01em;
    color: #4D4D52;
}

.item1_bids_num {
    position: relative;
    top: 8px;
    left: 130px;
    font-size: 24px;
    font-weight: 550;
    font-family: 'Poppins';
    font-style: normal;
    color: #0C8BFF;
}

.item1_bids {
    position: relative;
    top: -20px;
    left: 150px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.01em;
    color: #4D4D52;
}

.item1_person {
    position: relative;
    top: -45px;
    left: 210px;
    width: 28px;
    height: 28px;
}

.item1_person_text {
    position: relative;
    left: 245px;
    top: -72px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.01em;
    color: #4D4D52;
}


/* Item 2 Card */



.listings_item2 {
    position: relative;
    top: -187px;
    left: 800px;
    width: 355px;
    height: 357px;
    /* border: 2px solid black; */
    border-radius: 12px 12px 0px 0px;
}

.item2_text {
    position: relative;
    top: 15px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 599;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    color: #000339;
}

.item2_startbid {
    display: inline;
    position: relative;
    top: 20px;
    left: 20px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #A3A6AB;
}

.item2_currbid {
    display: inline;
    position: relative;
    top: 20px;
    left: 40px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #A3A6AB;
}

.item2_clock {
    position: relative;
    width: 28px;
    height: 28px;
    top: 47px;
    left: 20px;
}

.item2_status {
    position: relative;
    top: 20px;
    left: 50px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.01em;
    color: #4D4D52;
}

.item2_bids_num {
    position: relative;
    top: -10px;
    left: 127px;
    font-size: 24px;
    font-weight: 550;
    font-family: 'Poppins';
    font-style: normal;
    color: #0C8BFF;
}

.item2_bids {
    position: relative;
    top: -36px;
    left: 163px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.01em;
    color: #4D4D52;
}

.item2_person {
    position: relative;
    top: -63px;
    left: 225px;
    width: 28px;
    height: 28px;
}

.item2_person_text {
    position: relative;
    left: 255px;
    top: -90px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.01em;
    color: #4D4D52;
}

.item2__infodiv {
    position: relative;
    top: -20px;
}

/* Item 3 Card */

.listings_item3 {
    position: relative;
    top: -545px;
    left: 1250px;
    width: 355px;
    height: 357px;
    /* border: 2px solid black; */
    border-radius: 12px 12px 0px 0px;
}

.item3_text {
    position: relative;
    top: 15px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 599;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    color: #000339;
}

.item3_startbid {
    display: inline;
    position: relative;
    top: 20px;
    left: 20px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #A3A6AB;
}

.item3_currbid {
    display: inline;
    position: relative;
    top: 20px;
    left: 40px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #A3A6AB;
}

.item3_clock {
    position: relative;
    width: 28px;
    height: 28px;
    top: 47px;
    left: 20px;
}

.item3_status {
    position: relative;
    top: 20px;
    left: 50px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.01em;
    color: #4D4D52;
}

.item3_bids_num {
    position: relative;
    top: -10px;
    left: 127px;
    font-size: 24px;
    font-weight: 550;
    font-family: 'Poppins';
    font-style: normal;
    color: #0C8BFF;
}

.item3_bids {
    position: relative;
    top: -36px;
    left: 163px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.01em;
    color: #4D4D52;
}

.item3_person {
    position: relative;
    top: -63px;
    left: 225px;
    width: 28px;
    height: 28px;
}

.item3_person_text {
    position: relative;
    left: 255px;
    top: -90px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.01em;
    color: #4D4D52;
}

.item3__infodiv {
    position: relative;
    top: -20px;
}

/* Views Section */

.views_outerdiv {
    position: relative;
    top: -100px;
    width: 100%;
    height: 60vh;
    /* border: 5px solid black; */
}

.views_heading {
    position: relative;
    top: 120px;
    left: 1120px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 45px;
    color: #000339;
}

.views_desc {
    position: relative;
    top: 150px;
    left: 1120px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #7B8087;
}

.views_books {
    position: relative;
    top: -230px;
    left: 500px;
}

.views_box {
    position: relative;
    top: -694px;
    left: 350px;
    width: 12%;
    height: 25vh;
    /* border: 1px solid black; */
    background-color: white;
    border-radius: 5px 0px 15px 15px;
}

.views_box_heading {
    position: relative;
    top: -60px;
    left: 18px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 26px;
    letter-spacing: 0.01em;
    color: #000339;
}

.views_box_desc {
    position: relative;
    top: -50px;
    left: 18px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #000339;
}

.views_box_line {
    position: relative;
    top: -30px;
    left: 18px;
    width: 85%;
}

.views_box_users {
    position: relative;
    left: 6px;
    top: 135px;
}

.views_box_arrow {
    position: relative;
    top: -121px;
    left: 175px;
}

/* Info section */

.info_outerdiv {
    position: relative;
    top: -100px;
    width: 100%;
    height: 35vh;
    /* border: 5px solid black; */
}

.info_num1 {
    position: relative;
    top: 90px;
    left: 440px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 64px;
    color: #000000;
}

.info_num1_desc {
    position: relative;
    top: 110px;
    left: 485px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #000000;
}

.info_num2 {
    position: relative;
    left: 880px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 64px;
    color: #000000;
}

.info_num2_desc {
    position: relative;
    top: 19px;
    left: 835px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #000000;
}

.info_num3 {
    position: relative;
    top: -91px;
    left: 1300px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 64px;
    color: #000000;
}

.info_num3_desc {
    position: relative;
    left: 1300px;
    top: -72px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #000000;
}

/* Footer */

.footer_outerdiv{
    width: 100%;
    height: 35vh;
    /* border: 4px solid black; */
    background-color: #FFCDCD;
}

.footer_product{
    position: relative;
    top: 50px;
    left: 450px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #1C1C1D;
}

.product_listing{
    position: relative;
    top: 75px;
    font-size: 16px;
    left: 450px;
}

.product_agents{
    position: relative;
    top: 115px;
    font-size: 16px;
    left: 393px;
}

.product_blog{
    position: relative;
    top: 160px;
    font-size: 16px;
    left: 333px;
}

.footer_company{
    position: relative;
    top: 0px;
    left: 750px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
}

.company_partnerships{
    position: relative;
    top: 26px;
    font-size: 16px;
    left: 750px;
}

.company_terms{
    position: relative;
    top: 65px;
    font-size: 16px;
    left: 644px;
}

.company_privacy{
    position: relative;
    top: 110px;
    font-size: 16px;
    left: 536px;
}

.footer_touch{
    position: relative;
    top: -46px;
    left: 1020px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;

}

.touch_connect{
    position: relative;
    top: -20px;
    font-size: 18px;
    left: 1020px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #4F5361;
    text-decoration: none;
}

.touch_fb{
    position: relative;
    left: 1020px;
}

.touch_tw{
    position: relative;
    left: 1030px;
}

.touch_in{
    position: relative;
    left: 1040px;
}

.footer_contact{
    position: relative;
    top: -120px;
    left: 1370px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
}

.footer_outerdiv a {
    transition: all 0.4s ease 0s;
}

  .footer_outerdiv a:hover {
    color: rgb(46, 36, 134);
    text-decoration: underline;
    font-weight: 800;   
}

.contact_phone{
    position: relative;
    top: -95px;
    left: 1370px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #4F5361;
    text-decoration: none;
}

.contact_mail{
    position: relative;
    top: -80px;
    left: 1375px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #4F5361;
    text-decoration: none;
}

.mail_icon{
    position: relative;
    top: -101px;
    left: 1440px;

}

.contact_mailid{
    position: relative;
    top: -80px;
    left: 1355px;
}

.contact_address{
    position: relative;
    top: -50px;
    left: 1380px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #4F5361;
    text-decoration: none;
}

/* Icons Hover Effect */

.wrapper a {
    color: #4F5361;
    position: relative;
    top: -15px;
    left: 1010px;
  }
  
  .hover-fx {
    font-size: 1rem;
    display: inline-block;
    cursor: pointer;
    margin: 4px;
    width: 30px;
    height: 30px;
    line-height: 31px;
    border-radius: 50%;
    text-align: center;
    position: relative;
    color: #4F5361;
    background-color: rgba(255, 255, 255, 0.1);
    transition: 300ms;
  }
  
  .hover-fx:after {
    /* pointer-events: none; */
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    content: '';
    box-sizing: content-box;
    box-shadow: 0 0 0 3px #FFFFFF;
    top: 0;
    left: 0;
    opacity: 0;
    transition: 300ms;
  }
  
  .hover-fx:hover {
    background-color: #FFFFFF;
    color: #151515;
  }
  
  .hover-fx:hover:after {
    opacity: 1;
    transform: scale(1.15);
    }

