@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Header */

body {
    overflow-x: hidden;
}

h2 {
    position: relative;
    left: 70px;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 24px;
    color: #313440;
    cursor: pointer;
}

li,
a,
button {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #4F5361;
    text-decoration: none;
}

button {
    padding: 9px 25px;
    width: 170px;
    height: 50px;
    margin-top: 35px;
    background-color: #0F1B4C;
    color: #FFFFFF;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover{
    background-color: #0689FF;
    box-shadow: 0px 0px 6px 2px lightgray;
}

header {
    display: flex;
    justify-content: space-around;
    /* Pushes left and right items to the edges and creates space in the center. */
    align-items: center;
    padding: 30px 10%;
    background-color: #FFCDCD;
}

.nav__links li {
    position: relative;
    left: 100px;
    display: inline-block;
    padding: 0px 20px;
}

.nav__links li a {
    transition: all 0.4s ease 0s;
}

.nav__links li a:hover {
    color: rgb(46, 36, 134);
    text-decoration: underline;
    font-weight: 800;   
}

.searchbox{
    position: relative;
    left: 60px;
    height: 35px;  
    border-radius: 20px;
    padding-top: 8px;
    padding-left: 15px;
    border: 2px solid black;
}

.searchbox::placeholder{
    position: relative;
    font-family: 'Poppins';
    top: -2.5px;
    padding-left: 0px;
    text-align: left;
    
}

.search_img{
    position: relative;
    left: -170px;
}

/* Main Page */

.main_div {
    width: 100%;
    height: 100vh;
    /* border: 4px solid black; */
}


.armagnac_img {
    position: relative;
    top: 150px;
    left: 300px;
    width: 600px;
    height: 700px;
    /* border: 4px solid black; */
}

.armagnac {
    width: 590px;
    height: 690px;
}

.armagnac_title {
    position: relative;
    font-size: 38px;
    top: -550px;
    margin-left: 980px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    line-height: 55px;
    color: #000336;
}

.armagnac_line{
    position: relative;
    top: -540px;
    margin-left: 985px;
    width: 75px;
    height: 4px;
    background-color: black;
    border-radius: 12px;
}

.armagnac_currbid{
    position: relative;
    top: -500px;
    left: 985px;
    font-size: 24px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 5500;
}

.armagnac_price{
    position: relative;
    top: -490px;
    left: 988px;
    font-size: 16px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    color: #4F5361;
}

.armagnac_desc{
    position: relative;
    top: -475px;
    left: 988px;
    font-size: 15px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    line-height: 25px;
    color: #4F5361;
}

.armagnac_quantity{
    position: relative;
    top: -420px;
    left: 988px;
    font-size: 20px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
}

.armagnac_quantity_num{
    position: relative;
    top: -448px;
    left: 1490px;
    font-size: 20px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
}

.armagnac_wishlist{
    position: relative;
    width: 515px;
    top: -350px;
    left: 988px;
}

.armagnac_placebid{
    position: relative;
    top: -450px;
    left: 470px;
}

.placebid_textarea{
    position: relative;
    width: 180px;
    height: 48px;
    top: -430px;
    left: 625px;
    border: 2px solid black;
    border-radius: 15px;
    text-align: center;
    padding-top: 15px;
}

.placebid_textarea::placeholder{
    position: relative;
    top: -3px;
    font-size: 14px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    text-align: center;
}

/* Footer */

.footer_outerdiv {
    width: 100%;
    height: 35vh;
    /* border: 4px solid black; */
    background-color: #FFCDCD;
}

.footer_product {
    position: relative;
    top: 50px;
    left: 450px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #1C1C1D;
}

.product_listing {
    position: relative;
    top: 75px;
    font-size: 16px;
    left: 450px;
}

.product_agents {
    position: relative;
    top: 115px;
    font-size: 16px;
    left: 393px;
}

.product_blog {
    position: relative;
    top: 160px;
    font-size: 16px;
    left: 333px;
}

.footer_company {
    position: relative;
    top: 0px;
    left: 750px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
}

.company_partnerships {
    position: relative;
    top: 26px;
    font-size: 16px;
    left: 750px;
}

.company_terms {
    position: relative;
    top: 65px;
    font-size: 16px;
    left: 644px;
}

.company_privacy {
    position: relative;
    top: 110px;
    font-size: 16px;
    left: 536px;
}

.footer_touch {
    position: relative;
    top: -46px;
    left: 1020px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;

}

.touch_connect {
    position: relative;
    top: -20px;
    font-size: 18px;
    left: 1020px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #4F5361;
    text-decoration: none;
}

.touch_fb {
    position: relative;
    left: 1020px;
}

.touch_tw {
    position: relative;
    left: 1030px;
}

.touch_in {
    position: relative;
    left: 1040px;
}

.footer_contact {
    position: relative;
    top: -133px;
    left: 1375px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
}

.footer_outerdiv a {
    transition: all 0.4s ease 0s;
}

  .footer_outerdiv a:hover {
    color: rgb(46, 36, 134);
    text-decoration: underline;
    font-weight: 800;   
}

.contact_phone {
    position: relative;
    top: -105px;
    left: 1370px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #4F5361;
    text-decoration: none;
}

.contact_mail {
    position: relative;
    top: -80px;
    left: 1375px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #4F5361;
    text-decoration: none;
}

.mail_icon {
    position: relative;
    top: -101px;
    left: 1440px;

}

.contact_mailid {
    position: absolute;
    bottom: -300px;
    right: 388px;
}

.contact_address {
    position: relative;
    top: -50px;
    left: 1378px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #4F5361;
    text-decoration: none;
}

/* Icons Hover Effect */

.wrapper a {
    color: #4F5361;
    position: relative;
    top: -15px;
    left: 1010px;
  }
  
  .hover-fx {
    font-size: 1rem;
    display: inline-block;
    cursor: pointer;
    margin: 4px;
    width: 30px;
    height: 30px;
    line-height: 31px;
    border-radius: 50%;
    text-align: center;
    position: relative;
    color: #4F5361;
    background-color: rgba(255, 255, 255, 0.1);
    transition: 300ms;
  }
  
  .hover-fx:after {
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    content: '';
    box-sizing: content-box;
    box-shadow: 0 0 0 3px #FFFFFF;
    top: 0;
    left: 0;
    opacity: 0;
    transition: 300ms;
  }
  
  .hover-fx:hover {
    background-color: #FFFFFF;
    color: #151515;
  }
  
  .hover-fx:hover:after {
    opacity: 1;
    transform: scale(1.15);
  }

